<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<center>
		Número de preguntas: <%=num_preguntas%> <br>
		Número de comentarios: <%=num_comentarios%><br>
		Comentarios medios por pregunta: <%=num_comentarios/num_preguntas%><br>
		Número de preguntas sin comentarios: <%=num_preguntas-preguntas_commented%><br>
		Número de preguntas con comentarios: <%=preguntas_commented%>
		</center>
	</body>
</html>			
